Repository jintekc/did-btc1-js-0: changes, and which Codecov flags are due for each by the changed paths.
All: cryptosuite, key-pair, method

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto      
        threshold: 5%     
      - type: patch
        target: 90        

  individual_components:
    - component_id: package-cryptosuite
      name: cryptosuite
      paths: ["packages/cryptosuite/**"]

    - component_id: package-key-pair
      name: key-pair
      paths: ["packages/key-pair/**"]

    - component_id: package-method
      name: method
      paths: ["packages/method/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

cryptosuite@2.5.4 key-pair@0.4.2 method@0.5.1
  packages/cryptosuite/package.json
  packages/cryptosuite/src/rdf-canonize.d.ts
  packages/key-pair/package.json
  packages/method/package.json
  packages/method/src/bitcoin/rpc-client.ts
  packages/method/src/bitcoin/types.ts
  packages/method/src/btc1/beacons/factory.ts
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/beacons/utils.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/btc1/did-document.ts
  packages/method/src/btc1/key-manager/index.ts
  packages/method/src/btc1/key-manager/interface.ts
  packages/method/src/did-btc1.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/general.ts
  pnpm-lock.yaml
Due: cryptosuite, key-pair, method

common@0.2.0
  packages/cryptosuite/package.json
  packages/cryptosuite/src/di-bip340/cryptosuite/canonicalization.ts
  packages/cryptosuite/src/di-bip340/cryptosuite/index.ts
  packages/cryptosuite/src/di-bip340/cryptosuite/interface.ts
  packages/cryptosuite/src/di-bip340/data-integrity-proof/index.ts
  packages/cryptosuite/src/di-bip340/multikey/index.ts
  packages/cryptosuite/src/di-bip340/multikey/interface.ts
  packages/cryptosuite/src/index.ts
  packages/cryptosuite/src/types/cryptosuite.ts
  packages/cryptosuite/src/types/di-proof.ts
  packages/cryptosuite/src/utils/error.ts
  packages/cryptosuite/src/utils/logger.ts
  packages/cryptosuite/src/utils/object-utils.ts
  packages/key-pair/package.json
  packages/key-pair/src/error.ts
  packages/key-pair/src/index.ts
  packages/key-pair/src/interface.ts
  packages/key-pair/src/key-pair.ts
  packages/key-pair/src/private-key.ts
  packages/key-pair/src/public-key.ts
  pnpm-lock.yaml
Due: cryptosuite, key-pair

@did-btc1/cryptosuite@2.5.5 @did-btc1/common@0.2.1 @did-btc1/key-pair@0.4.3 @did-btc1/method@0.5.2
  package.json
  packages/common/package.json
  packages/common/src/types/did.ts
  packages/common/src/utils/canonicalization.ts
  packages/cryptosuite/package.json
  packages/cryptosuite/src/di-bip340/cryptosuite/index.ts
  packages/cryptosuite/src/di-bip340/data-integrity-proof/index.ts
  packages/cryptosuite/tests/multikey.spec.ts
  packages/key-pair/package.json
  packages/key-pair/tests/keypair.spec.ts
  packages/key-pair/tests/private-key.spec.ts
  packages/key-pair/tests/public-key.spec.ts
  packages/method/lib/btc1/test-cas.ts
  packages/method/lib/btc1/test-jcs-canonicalize.ts
  packages/method/package.json
  packages/method/src/btc1/beacons/cid-aggregate.ts
  packages/method/src/btc1/beacons/factory.ts
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/beacons/smt-aggregate.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/btc1/interface.ts
  packages/method/src/btc1/utils/beacon-utils.ts
  packages/method/src/btc1/utils/btc1-appendix.ts
  packages/method/src/btc1/utils/constants.ts
  packages/method/src/btc1/utils/did-document.ts
  packages/method/src/did-btc1.ts
  packages/method/src/index.ts
  packages/method/src/interfaces/beacon.ts
  packages/method/src/interfaces/crud.ts
  packages/method/src/interfaces/ibeacon.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/json-patch.ts
  packages/method/tests/create-deterministic.spec.ts
  packages/method/tests/create-external.spec.ts
Due: cryptosuite, key-pair, method

fixing build and test
  package.json
  packages/common/package.json
  packages/cryptosuite/package.json
  packages/key-pair/package.json
  packages/method/package.json
  packages/method/src/bitcoin/rpc-client.ts
  packages/method/src/btc1/beacons/factory.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/btc1/key-manager/index.ts
  packages/method/src/btc1/utils/beacon-utils.ts
  packages/method/src/btc1/utils/btc1-appendix.ts
  packages/method/src/did-btc1.ts
  packages/method/src/exts.ts
  packages/method/src/index.ts
  packages/method/src/interfaces/crud.ts
  packages/method/tests/create-deterministic.spec.ts
  packages/method/tests/create-external.spec.ts
  packages/method/tests/test-data.ts
Due: cryptosuite, key-pair, method

Delete CNAME
  CNAME
Due: none

Create CNAME
  docs/CNAME
Due: none

common@0.2.1
  packages/cryptosuite/package.json
  packages/cryptosuite/src/di-bip340/cryptosuite/canonicalization.ts
  packages/cryptosuite/src/di-bip340/cryptosuite/index.ts
  packages/cryptosuite/src/di-bip340/cryptosuite/interface.ts
  packages/cryptosuite/src/di-bip340/data-integrity-proof/index.ts
  packages/cryptosuite/src/di-bip340/multikey/index.ts
  packages/cryptosuite/src/di-bip340/multikey/interface.ts
  packages/cryptosuite/src/index.ts
  packages/cryptosuite/src/types/cryptosuite.ts
  packages/cryptosuite/src/types/di-proof.ts
  packages/cryptosuite/src/utils/error.ts
  packages/cryptosuite/src/utils/logger.ts
  packages/cryptosuite/src/utils/object-utils.ts
  packages/key-pair/package.json
  packages/key-pair/src/error.ts
  packages/key-pair/src/index.ts
  packages/key-pair/src/interface.ts
  packages/key-pair/src/key-pair.ts
  packages/key-pair/src/private-key.ts
  packages/key-pair/src/public-key.ts
  pnpm-lock.yaml
Due: cryptosuite, key-pair

method@0.5.3
  packages/method/package.json
Due: method

4.2.3 Read Target Document ✅
  .github/workflows/push.yml
  packages/method/src/bitcoin/constants.ts
  packages/method/src/btc1/crud/read.ts
Due: method

4.3 Update 🏗️
  packages/common/src/exts.ts
  packages/cryptosuite/src/types/di-proof.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/btc1/key-manager/index.ts
  packages/method/src/btc1/key-manager/interface.ts
  packages/method/src/did-btc1.ts
  packages/method/src/interfaces/crud.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/btc1/appendix.ts
  packages/method/src/utils/btc1/did-document.ts
Due: cryptosuite, method

4.3.1 Construct DID Update Payload ✅
  packages/common/src/utils/errors.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/did-btc1.ts
Due: method

4.3.2 Invoke DID Update Payload 🏗️
  packages/common/src/index.ts
  packages/common/src/types/btc1.ts
  packages/common/src/utils/errors.ts
  packages/cryptosuite/src/di-bip340/cryptosuite/index.ts
  packages/cryptosuite/src/di-bip340/cryptosuite/interface.ts
  packages/cryptosuite/src/di-bip340/data-integrity-proof/index.ts
  packages/cryptosuite/src/di-bip340/data-integrity-proof/interface.ts
  packages/cryptosuite/src/types/cryptosuite.ts
  packages/cryptosuite/src/types/di-proof.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/interfaces/crud.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/json-patch.ts
Due: cryptosuite, method

4.3.2 Invoke DID Update Payload 🏗️
  packages/cryptosuite/src/di-bip340/cryptosuite/index.ts
Due: cryptosuite

cryptosuite: reorg files
  packages/cryptosuite/src/cryptosuite/index.ts
  packages/cryptosuite/src/cryptosuite/interface.ts
  packages/cryptosuite/src/data-integrity-proof/index.ts
  packages/cryptosuite/src/data-integrity-proof/interface.ts
  packages/cryptosuite/src/di-bip340/cryptosuite/interface.ts
  packages/cryptosuite/src/multikey/index.ts
  packages/cryptosuite/src/multikey/interface.ts
Due: cryptosuite

fix lint errors
  eslint.config.cjs
  packages/common/src/types/btc1.ts
  packages/cryptosuite/lib/test-lift-x.ts
  packages/method/src/btc1/key-manager/interface.ts
Due: cryptosuite, method

limit action
  .github/workflows/push.yml
Due: none

@did-btc1/common@0.2.3 @did-btc1/cryptosuite@2.5.7 @did-btc1/key-pair@0.4.5
  packages/common/package.json
  packages/common/src/utils/errors.ts
  packages/cryptosuite/package.json
  packages/cryptosuite/src/multikey/index.ts
  packages/key-pair/package.json
  packages/key-pair/src/key-pair.ts
  packages/key-pair/src/private-key.ts
Due: cryptosuite, key-pair

@did-btc1/smt@0.1.0
  did-btc1-js.code-workspace
  package.json
  packages/cryptosuite/README.md
  packages/key-pair/README.md
  packages/method/README.md
  packages/smt/.c8rc.json
  packages/smt/.mocharc.json
  packages/smt/README.md
  packages/smt/package.json
  packages/smt/src/index.ts
  packages/smt/tests/tsconfig.json
  packages/smt/tsconfig.cjs.json
  packages/smt/tsconfig.json
  packages/smt/typedoc.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cryptosuite, key-pair, method

init base ms-smt structure
  eslint.config.cjs
  packages/smt/lib/test-basic.ts
  packages/smt/src/branch.ts
  packages/smt/src/compacted-leaf.ts
  packages/smt/src/computed.ts
  packages/smt/src/constants.ts
  packages/smt/src/index.ts
  packages/smt/src/leaf.ts
  packages/smt/src/node.ts
  packages/smt/src/utils.ts
  packages/smt/tests/index.spec.ts
Due: none

@did-btc1/cryptosuite@2.6.1
  eslint.config.cjs
  packages/common/src/utils/canonicalization.ts
  packages/cryptosuite/lib/data/test-data.ts
  packages/cryptosuite/lib/key-manager.ts
  packages/cryptosuite/lib/old-jcs-cryptosuite.ts
  packages/cryptosuite/lib/old-rdfc-cryptosuite.ts
  packages/cryptosuite/lib/test-di-proof.ts
  packages/cryptosuite/lib/test-multikey.ts
  packages/cryptosuite/lib/test-vectors/test-did-btc1-TestVectors-diproof-1.ts
  packages/cryptosuite/lib/test-vectors/test-did-btc1-TestVectors-diproof-2.ts
  packages/cryptosuite/lib/tests/test-conversions.ts
  packages/cryptosuite/lib/tests/test-di-proof.ts
  packages/cryptosuite/lib/tests/test-di-vectors.ts
  packages/cryptosuite/lib/tests/test-key-manager.ts
  packages/cryptosuite/lib/tests/test-key-pair.ts
  packages/cryptosuite/lib/tests/test-lift-x.ts
  packages/cryptosuite/lib/tests/test-multikey.ts
  packages/cryptosuite/lib/tests/test-object-utils.ts
  packages/cryptosuite/lib/tests/test-output.ts
  packages/cryptosuite/lib/tests/test-private-key.ts
  packages/cryptosuite/lib/tests/test-rdf-canon.ts
  packages/cryptosuite/package.json
  packages/cryptosuite/src/cryptosuite/index.ts
  packages/cryptosuite/src/data-integrity-proof/index.ts
  packages/cryptosuite/tests/multikey.spec.ts
  packages/key-pair/lib/test-key-pair-ext.ts
  packages/key-pair/src/public-key.ts
  packages/key-pair/tests/public-key.spec.ts
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/crud/read.ts
Due: cryptosuite, key-pair, method

@did-btc1/method@0.7.1
  .github/workflows/push.yml
  packages/cryptosuite/src/multikey/index.ts
  packages/method/package.json
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/did-btc1.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/btc1/constants.ts
Due: cryptosuite, method
