Repository jintekc/did-btc1-js-0: changes, and which Codecov flags are due for each by the changed paths.
All: cryptosuite, key-pair, method

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto      
        threshold: 5%     
      - type: patch
        target: 90        

  individual_components:
    - component_id: package-cryptosuite
      name: cryptosuite
      paths: ["packages/cryptosuite/**"]

    - component_id: package-key-pair
      name: key-pair
      paths: ["packages/key-pair/**"]

    - component_id: package-method
      name: method
      paths: ["packages/method/**"]

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

fixed initialdocument key
  packages/method/lib/btc1/crud/resolve/test-external.ts
  packages/method/lib/btc1/crud/resolve/test-key.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/did-btc1.ts
  packages/method/src/index.ts
  packages/method/src/interfaces/crud.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/appendix.ts
  packages/method/src/utils/beacons.ts
  packages/method/src/utils/did-document/builder.ts
  packages/method/src/utils/did-document/index.ts
  packages/method/tests/create-deterministic.spec.ts
Due: method

fix linter
  packages/method/src/utils/beacons.ts
  packages/method/src/utils/did-document/index.ts
Due: method

fix push
  packages/cryptosuite/src/data-integrity-proof/index.ts
Due: cryptosuite

fix failing tests
  packages/method/tests/create-deterministic.spec.ts
  packages/method/tests/create-external.spec.ts
Due: method

fix tests for external - in progress
  eslint.config.cjs
  packages/common/package.json
  packages/cryptosuite/package.json
  packages/key-pair/package.json
  packages/method/lib/btc1/crud/create/did-encode-decode.ts
  packages/method/lib/btc1/crud/create/did-external.ts
  packages/method/package.json
  packages/method/src/utils/did-document/index.ts
  packages/method/tests/create-external.spec.ts
  packages/smt/package.json
Due: cryptosuite, key-pair, method

reinstate lib ignore
  eslint.config.cjs
Due: none

fixing REST call
  eslint.config.cjs
  packages/common/src/exts.ts
  packages/common/src/interfaces/btc1.ts
  packages/method/lib/btc1/crud/resolve/test-btc1-resolve-key.ts
  packages/method/lib/btc1/crud/resolve/test-external.ts
  packages/method/lib/btc1/crud/resolve/test-key.ts
  packages/method/src/bitcoin/constants.ts
  packages/method/src/bitcoin/rest-client.ts
  packages/method/src/btc1/crud/read.ts
Due: method

fixing intermediate doc
  packages/method/src/btc1/crud/create.ts
  packages/method/src/utils/did-document/index.ts
Due: method

testing new vectors
  docs/common/enums/Btc1CreateIdTypes.html
  docs/common/modules.html
  packages/common/src/exts.ts
  packages/common/src/types/did.ts
  packages/method/lib/btc1/crud/create/did-external.ts
  packages/method/lib/btc1/crud/resolve/test-key.ts
  packages/method/lib/btc1/did-document/test-deterministic.ts
  packages/method/lib/btc1/did-document/test-intermediate.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/did-btc1.ts
  packages/method/src/utils/did-document/index.ts
  packages/method/src/utils/identifier.ts
Due: method

read lib to eslint
  eslint.config.cjs
Due: none

getting tests to pass
  .gitignore
  package.json
  packages/common/src/constants.ts
  packages/cryptosuite/package.json
  packages/cryptosuite/src/data-integrity-proof/index.ts
  packages/cryptosuite/src/multikey/index.ts
  packages/cryptosuite/src/multikey/interface.ts
  packages/method/lib/NOTES.md
  packages/method/lib/btc1/crud/create/did-decode.ts
  packages/method/lib/btc1/crud/create/did-encode-decode.ts
  packages/method/lib/btc1/crud/create/did-external.ts
  packages/method/lib/btc1/crud/resolve/test-external.ts
  packages/method/lib/btc1/crud/resolve/test-key.ts
  packages/method/lib/index.sh
  packages/method/package.json
  packages/method/src/bitcoin/rest-client.ts
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/did-btc1.ts
  packages/method/src/index.ts
  packages/method/src/interfaces/beacon.ts
  packages/method/src/interfaces/crud.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/appendix.ts
  packages/method/src/utils/did-document-builder.ts
  packages/method/src/utils/did-document.ts
  packages/method/tests/create-external.spec.ts
  packages/method/tests/createext.ts
  pnpm-lock.yaml
Due: cryptosuite, method

getting tests to pass
  packages/method/tests/createext.ts
Due: method

tests passing
  packages/method/lib/btc1/crud/create/did-external.ts
  packages/method/tests/create-external.spec.ts
Due: method

@did-btc1/{common@0.3.1, cryptosuite@2.6.2, smt@0.1.1, method@0.9.0}
  package.json
  packages/common/package.json
  packages/cryptosuite/package.json
  packages/method/package.json
  packages/smt/package.json
Due: cryptosuite, method

did-btc1-js@1.1.3
  .gitignore
  docker/Dockerfile.electrs
  docker/did-btc1-electrs.polar.zip
  docker/docker-compose.yml
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/cryptosuite/lib/test-vectors/test-did-btc1-TestVectors-diproof-3.ts
  packages/cryptosuite/package.json
  packages/key-pair/package.json
  packages/method/lib/bitcoin/test-bitcoin-getblock.ts
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document-external.ts
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document-key.ts
  packages/smt/package.json
Due: cryptosuite, key-pair, method

Delete CNAME
  CNAME
Due: none
