Repository jintekc/did-btc1-js-0: changes, and which Codecov flags are due for each by the changed paths.
All: cryptosuite, key-pair, method

@did-btc1/method@0.7.1
  .github/workflows/push.yml
  packages/cryptosuite/src/multikey/index.ts
  packages/method/package.json
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/did-btc1.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/btc1/constants.ts
Due: cryptosuite, method

@did-btc1/cryptosuite@2.6.1
  eslint.config.cjs
  packages/common/src/utils/canonicalization.ts
  packages/cryptosuite/lib/data/test-data.ts
  packages/cryptosuite/lib/key-manager.ts
  packages/cryptosuite/lib/old-jcs-cryptosuite.ts
  packages/cryptosuite/lib/old-rdfc-cryptosuite.ts
  packages/cryptosuite/lib/test-di-proof.ts
  packages/cryptosuite/lib/test-multikey.ts
  packages/cryptosuite/lib/test-vectors/test-did-btc1-TestVectors-diproof-1.ts
  packages/cryptosuite/lib/test-vectors/test-did-btc1-TestVectors-diproof-2.ts
  packages/cryptosuite/lib/tests/test-conversions.ts
  packages/cryptosuite/lib/tests/test-di-proof.ts
  packages/cryptosuite/lib/tests/test-di-vectors.ts
  packages/cryptosuite/lib/tests/test-key-manager.ts
  packages/cryptosuite/lib/tests/test-key-pair.ts
  packages/cryptosuite/lib/tests/test-lift-x.ts
  packages/cryptosuite/lib/tests/test-multikey.ts
  packages/cryptosuite/lib/tests/test-object-utils.ts
  packages/cryptosuite/lib/tests/test-output.ts
  packages/cryptosuite/lib/tests/test-private-key.ts
  packages/cryptosuite/lib/tests/test-rdf-canon.ts
  packages/cryptosuite/package.json
  packages/cryptosuite/src/cryptosuite/index.ts
  packages/cryptosuite/src/data-integrity-proof/index.ts
  packages/cryptosuite/tests/multikey.spec.ts
  packages/key-pair/lib/test-key-pair-ext.ts
  packages/key-pair/src/public-key.ts
  packages/key-pair/tests/public-key.spec.ts
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/crud/read.ts
Due: cryptosuite, key-pair, method

Revert "@did-btc1/method@0.7.1"
  .github/workflows/push.yml
  packages/cryptosuite/src/multikey/index.ts
  packages/method/package.json
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/did-btc1.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/btc1/constants.ts
Due: cryptosuite, method

@did-btc1/method@0.7.1
  .github/workflows/push.yml
  packages/cryptosuite/src/data-integrity-proof/index.ts
  packages/cryptosuite/src/multikey/index.ts
  packages/method/package.json
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/did-btc1.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/btc1/constants.ts
Due: cryptosuite, method

3.2 did:btc1 Identifier Encoding ✅; 3.3 did:btc Identifier Encoding ✅
  packages/common/package.json
  packages/common/src/canonicalization.ts
  packages/common/src/constants.ts
  packages/common/src/errors.ts
  packages/common/src/exts.ts
  packages/common/src/index.ts
  packages/common/src/interfaces/btc1.ts
  packages/common/src/logger.ts
  packages/common/src/patch.ts
  packages/common/src/types/btc1.ts
  packages/common/src/types/did.ts
  packages/common/src/types/general.ts
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/did-btc1.ts
  packages/method/src/index.ts
  packages/method/src/interfaces/crud.ts
  packages/method/src/interfaces/ibeacon.ts
  packages/method/src/types/beacons.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/appendix.ts
  packages/method/src/utils/beacons.ts
  packages/method/src/utils/btc1/constants.ts
  packages/method/src/utils/did-document.ts
  packages/method/src/utils/identifier.ts
Due: method

3.2-3 Debugging 🏗️
  .gitignore
  packages/common/src/types/did.ts
  packages/method/lib/btc1/crud/create/test-btc1-create-key.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/did-btc1.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/did-document.ts
  packages/method/src/utils/identifier.ts
Due: method

3.2-3 Debugged ✅
  eslint.config.cjs
  packages/method/lib/btc1/crud/create/did-test-encode-decode.ts
  packages/method/lib/btc1/crud/create/did-test-external-cas.ts
  packages/method/lib/btc1/crud/create/did-test-external.ts
  packages/method/lib/btc1/crud/create/test-btc1-create-key.ts
  packages/method/lib/btc1/crud/resolve/initialDidDocument.json
  packages/method/lib/btc1/crud/resolve/resolutionOptions.json
  packages/method/lib/btc1/crud/resolve/targetDidDocument.json
  packages/method/src/did-btc1.ts
  packages/method/src/utils/identifier.ts
Due: method

3.2-3 Debugged Pt 2 ✅
  packages/common/src/types/did.ts
  packages/method/lib/btc1/crud/create/did-encode-decode.ts
  packages/method/lib/btc1/crud/create/did-external-cas.ts
  packages/method/lib/btc1/crud/create/did-external.ts
  packages/method/lib/btc1/crud/create/did-key.ts
  packages/method/lib/btc1/crud/create/did-test-encode-decode.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/did-btc1.ts
  packages/method/src/utils/beacons.ts
  packages/method/src/utils/identifier.ts
Due: method

3.2-3 Cleanup 🧹
  packages/method/src/did-btc1.ts
  packages/method/src/utils/appendix.ts
  packages/method/src/utils/identifier.ts
Due: method

3.2-3 Cleanup 🧹
  packages/method/src/utils/identifier.ts
Due: method

BTC1 Method - getSigningMethod
  README.md
  packages/method/src/did-btc1.ts
  packages/method/src/utils/appendix.ts
  packages/method/src/utils/identifier.ts
Due: method

3.2-3 Tests Failing ⛔
  packages/method/lib/btc1/crud/create/did-external-cas.ts
  packages/method/lib/btc1/crud/create/did-external.ts
  packages/method/src/bitcoin/network.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/did-btc1.ts
  packages/method/src/index.ts
  packages/method/src/interfaces/crud.ts
  packages/method/src/types/bitcoin.ts
  packages/method/src/utils/appendix.ts
  packages/method/src/utils/did-document.ts
  packages/method/tests/create-deterministic.spec.ts
  packages/method/tests/create-external.spec.ts
  packages/method/tests/did-decode.spec.ts
  packages/method/tests/did-encode.spec.ts
Due: method

3.2-3 Tests Passing ✅
  packages/method/src/utils/identifier.ts
  packages/method/tests/create-deterministic.spec.ts
  packages/method/tests/create-external.spec.ts
  packages/method/tests/did-decode.spec.ts
  packages/method/tests/did-encode.spec.ts
Due: method

Fix lint ✅
  eslint.config.cjs
  packages/key-pair/lib/test-key-pair-ext.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/tests/did-decode.spec.ts
Due: key-pair, method

3.2-3 Done
  packages/method/tests/did-decode.spec.ts
  packages/method/tests/did-encode.spec.ts
Due: method

Add new test vectors
  packages/common/src/constants.ts
  packages/cryptosuite/lib/test-vectors/test-did-btc1-TestVectors-diproof-3.ts
  packages/method/lib/bitcoin/test-bitcoin-getblock.ts
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document-external.ts
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document-key copy.ts
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document.ts
  packages/method/src/btc1/crud/read.ts
Due: cryptosuite, method

add polar + esplora
  .gitignore
  polar/btc1-esplora.polar.zip
Due: none

touch gitgnore
  .gitignore
Due: none

fix no api
  polar/btc1-esplora.polar.zip
Due: none

fix api 2
  polar/btc1-esplora.polar.zip
Due: none

4.2.2 Refactor to account for REST
  eslint.config.cjs
  packages/common/src/types/did.ts
  packages/method/src/bitcoin/rest-client.ts
  packages/method/src/bitcoin/rpc-client.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/utils/beacons.ts
Due: method

refactor findNextSignals
  eslint.config.cjs
  packages/method/package.json
  packages/method/src/bitcoin/rest-client.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/interfaces/ibeacon.ts
  packages/method/src/types/bitcoin.ts
  pnpm-lock.yaml
Due: method

refactor done
  packages/method/lib/btc1/crud/resolve/test-btc1-resolve-key.ts
  packages/method/src/bitcoin/rest-client.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/did-btc1.ts
  packages/method/src/interfaces/ibeacon.ts
  packages/method/src/types/bitcoin.ts
Due: method

update zip
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document-external.ts
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document-key.ts
  polar/btc1-esplora.polar.zip
Due: method

update polar
  packages/method/lib/bitcoin/test-bitcoin-getblock.ts
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document-external.ts
  packages/method/src/bitcoin/rpc-client.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/interfaces/ibeacon.ts
  packages/method/src/utils/appendix.ts
Due: method

fix lint
  packages/method/src/did-btc1.ts
Due: method

remove prepush
  package.json
Due: none

refactoring rpc client
  packages/method/lib/bitcoin/test-bitcoin-getblock.ts
  packages/method/src/bitcoin/constants.ts
  packages/method/src/bitcoin/rest-client.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/types/bitcoin.ts
Due: method

fix lint errors
  packages/method/src/bitcoin/rest-client.ts
  packages/method/src/btc1/crud/read.ts
Due: method

adding fixed polar network
  polar/btc1-esplora.polar.zip
  polar/did-btc1-electrs.polar.zip
Due: none

update zip
  polar/did-btc1-electrs.polar.zip
Due: none

fix initialDocument bug
  packages/common/src/constants.ts
  packages/common/src/exts.ts
  packages/method/lib/btc1/crud/resolve/test-external.ts
  packages/method/lib/btc1/crud/resolve/test-key.ts
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document-external.ts
  packages/method/lib/btc1/crud/resolve/test-resolve-target-document.ts
  packages/method/src/bitcoin/rest-client.ts
  packages/method/src/bitcoin/rpc-client.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/utils/did-document.ts
Due: method

Path conditions:
  cryptosuite: any of: packages/cryptosuite/**
  key-pair: any of: packages/key-pair/**
  method: any of: packages/method/**
