Repository jintekc/did-btc1-js-0: changes, and which Codecov flags are due for each by the changed paths.
All: cryptosuite, key-pair, method

0.1.1
  README.md
  codecov.yml
  eslint.config.cjs
  package.json
  packages/cryptosuite/package.json
  packages/cryptosuite/tsconfig.json
  packages/key-pair/package.json
  packages/key-pair/tsconfig.json
  packages/method/package.json
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/did-document.ts
  packages/method/src/btc1/interface.ts
  packages/method/src/btc1/key-manager/index.ts
  packages/method/src/btc1/key-manager/interface.ts
  packages/method/src/btc1/types.ts
  packages/method/src/utils/general.ts
  packages/method/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: cryptosuite, key-pair, method

0.1.2
  .gitignore
  did-btc1-js.code-workspace
  package.json
Due: none

2.4.2
  .gitignore
  did-btc1-js.code-workspace
  package.json
  packages/cryptosuite/package.json
Due: cryptosuite

2.4.2
  packages/cryptosuite/package.json
Due: cryptosuite

0.4.4
  packages/method/package.json
Due: method

0.1.3
  package.json
  packages/cryptosuite/package.json
  packages/key-pair/package.json
  packages/method/package.json
Due: cryptosuite, key-pair, method

cryptosuite@2.4.2
  packages/cryptosuite/package.json
Due: cryptosuite

method@0.4.4
  packages/method/package.json
Due: method

0.1.3
  CODEOWNERS
  package.json
  packages/cryptosuite/package.json
  packages/key-pair/package.json
  packages/method/package.json
Due: cryptosuite, key-pair, method

key-pair@0.4.1
  packages/key-pair/package.json
Due: key-pair

2.4.3
  packages/cryptosuite/package.json
Due: cryptosuite

cryptosuite@2.4.3
  packages/cryptosuite/package.json
Due: cryptosuite

method@0.4.5
  packages/method/lib/crypto/test-ecpair.ts
  packages/method/package.json
Due: method

0.1.4
  package.json
Due: none

0.1.4
  package.json
  packages/key-pair/package.json
  pnpm-lock.yaml
Due: key-pair

did-btc1-js@1.0.0
  did-btc1-js.code-workspace
  package.json
  packages/cryptosuite/package.json
  packages/cryptosuite/src/di-bip340/multikey/index.ts
  packages/cryptosuite/src/di-bip340/multikey/interface.ts
  packages/cryptosuite/tests/data-integrity-proof.spec.ts
  packages/cryptosuite/tests/multikey.spec.ts
  packages/cryptosuite/tests/tsconfig.json
  packages/cryptosuite/tsconfig.cjs.json
  packages/cryptosuite/tsconfig.json
  packages/key-pair/README.md
  packages/key-pair/package.json
  packages/key-pair/tests/tsconfig.json
  packages/key-pair/tsconfig.cjs.json
  packages/key-pair/tsconfig.json
  packages/method/lib/crypto/test-key-manager.ts
  packages/method/lib/crypto/test-multikey-ext.ts
  packages/method/package.json
  packages/method/src/bitcoin/types.ts
  packages/method/src/btc1/beacons/interface.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/interface.ts
  packages/method/src/btc1/key-manager/index.ts
  packages/method/src/btc1/key-manager/interface.ts
  packages/method/src/btc1/types.ts
  packages/method/src/utils/general.ts
  packages/method/tests/create-deterministic.spec.ts
  packages/method/tests/create-external.spec.ts
  packages/method/tests/create-key.spec.ts
  packages/method/tests/test-data.ts
  packages/method/tests/tsconfig.json
  packages/method/tsconfig.cjs.json
  packages/method/tsconfig.json
  tsconfig.json
Due: cryptosuite, key-pair, method

did-btc1-js@1.0.0
  did-btc1-js.code-workspace
  ns/did-document/v1
  package.json
  packages/cryptosuite/package.json
  packages/cryptosuite/src/di-bip340/multikey/index.ts
  packages/cryptosuite/src/di-bip340/multikey/interface.ts
  packages/cryptosuite/tests/data-integrity-proof.spec.ts
  packages/cryptosuite/tests/multikey.spec.ts
  packages/cryptosuite/tests/tsconfig.json
  packages/cryptosuite/tsconfig.cjs.json
  packages/cryptosuite/tsconfig.json
  packages/key-pair/README.md
  packages/key-pair/package.json
  packages/key-pair/tests/tsconfig.json
  packages/key-pair/tsconfig.cjs.json
  packages/key-pair/tsconfig.json
  packages/method/lib/crypto/test-key-manager.ts
  packages/method/lib/crypto/test-multikey-ext.ts
  packages/method/package.json
  packages/method/src/bitcoin/types.ts
  packages/method/src/btc1/beacons/interface.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/interface.ts
  packages/method/src/btc1/key-manager/index.ts
  packages/method/src/btc1/key-manager/interface.ts
  packages/method/src/btc1/types.ts
  packages/method/src/utils/general.ts
  packages/method/tests/create-deterministic.spec.ts
  packages/method/tests/create-external.spec.ts
  packages/method/tests/create-key.spec.ts
  packages/method/tests/test-data.ts
  packages/method/tests/tsconfig.json
  packages/method/tsconfig.cjs.json
  packages/method/tsconfig.json
  tsconfig.json
Due: cryptosuite, key-pair, method

cryptosuite@2.5.3
  packages/cryptosuite/package.json
Due: cryptosuite

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

cryptosuite@2.5.3
  packages/method/package.json
Due: method

cryptosuite@2.5.3
  CNAME
  packages/cryptosuite/package.json
  packages/method/package.json
Due: cryptosuite, method

did-btc1-js@1.0.0
  packages/method/package.json
Due: method

0.5.0
  packages/method/src/btc1/constants.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/interface.ts
Due: method

common@0.1.0 - consolidation
  did-btc1-js.code-workspace
  package.json
  packages/common/.c8rc.json
  packages/common/.mocharc.json
  packages/common/README.md
  packages/common/package.json
  packages/common/src/canonicalize.ts
  packages/common/src/constants.ts
  packages/common/src/errors.ts
  packages/common/src/exts.ts
  packages/common/src/index.ts
  packages/common/src/logger.ts
  packages/common/src/object-utils.ts
  packages/common/src/rdf-canonize.d.ts
  packages/common/src/types.ts
  packages/common/tests/index.spec.ts
  packages/common/tests/tsconfig.json
  packages/common/tsconfig.cjs.json
  packages/common/tsconfig.json
  packages/method/package.json
  packages/method/src/btc1/crud/create.ts
  packages/method/src/did-btc1.ts
  packages/method/src/types/crud.ts
  packages/method/src/types/shared.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: method

common@0.1.0
  did-btc1-js.code-workspace
  package.json
  packages/common/.c8rc.json
  packages/common/.mocharc.json
  packages/common/README.md
  packages/common/package.json
  packages/common/src/constants.ts
  packages/common/src/exts.ts
  packages/common/src/index.ts
  packages/common/src/rdf-canonize.d.ts
  packages/common/src/types/crypto.ts
  packages/common/src/types/did.ts
  packages/common/src/types/general.ts
  packages/common/src/utils/canonicalization.ts
  packages/common/src/utils/errors.ts
  packages/common/src/utils/logger.ts
  packages/common/src/utils/object.ts
  packages/common/tests/index.spec.ts
  packages/common/tests/tsconfig.json
  packages/common/tsconfig.cjs.json
  packages/common/tsconfig.json
  packages/cryptosuite/src/types/shared.ts
  packages/key-pair/src/constants.ts
  packages/key-pair/src/types.ts
  packages/method/src/index.ts
  packages/method/src/types/shared.ts
  packages/method/src/utils/general.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cryptosuite, key-pair, method

common@0.2.0
  packages/common/package.json
  packages/common/src/utils/object.ts
Due: none

common@0.2.0
  packages/common/package.json
  packages/common/src/utils/object.ts
  packages/cryptosuite/package.json
  packages/cryptosuite/src/di-bip340/cryptosuite/canonicalization.ts
  packages/cryptosuite/src/di-bip340/cryptosuite/index.ts
  packages/cryptosuite/src/di-bip340/cryptosuite/interface.ts
  packages/cryptosuite/src/di-bip340/data-integrity-proof/index.ts
  packages/cryptosuite/src/di-bip340/multikey/index.ts
  packages/cryptosuite/src/di-bip340/multikey/interface.ts
  packages/cryptosuite/src/index.ts
  packages/cryptosuite/src/types/cryptosuite.ts
  packages/cryptosuite/src/types/di-proof.ts
  packages/cryptosuite/src/utils/error.ts
  packages/cryptosuite/src/utils/logger.ts
  packages/cryptosuite/src/utils/object-utils.ts
  packages/key-pair/package.json
  packages/key-pair/src/error.ts
  packages/key-pair/src/index.ts
  packages/key-pair/src/interface.ts
  packages/key-pair/src/key-pair.ts
  packages/key-pair/src/private-key.ts
  packages/key-pair/src/public-key.ts
  pnpm-lock.yaml
Due: cryptosuite, key-pair

cryptosuite@2.5.4 key-pair@0.4.2 method@0.5.1
  packages/cryptosuite/package.json
  packages/cryptosuite/src/rdf-canonize.d.ts
  packages/key-pair/package.json
  packages/method/package.json
  packages/method/src/bitcoin/rpc-client.ts
  packages/method/src/bitcoin/types.ts
  packages/method/src/btc1/beacons/factory.ts
  packages/method/src/btc1/beacons/singleton.ts
  packages/method/src/btc1/beacons/utils.ts
  packages/method/src/btc1/crud/create.ts
  packages/method/src/btc1/crud/read.ts
  packages/method/src/btc1/crud/update.ts
  packages/method/src/btc1/did-document.ts
  packages/method/src/btc1/key-manager/index.ts
  packages/method/src/btc1/key-manager/interface.ts
  packages/method/src/did-btc1.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/general.ts
  pnpm-lock.yaml
Due: cryptosuite, key-pair, method

Path conditions:
  cryptosuite: any of: packages/cryptosuite/**
  key-pair: any of: packages/key-pair/**
  method: any of: packages/method/**
